{% extends 'layout.html.twig' %}



{% block body %}
{{ parent()}}
<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
<h2 class="page-header"> Campamento Nacional de Jovenes de las Asambleas de Dios</h2>
    	</div>
    <div class="row well">
        <div class="col-md-6">
            <div class="page-header">
                <h2>Nueva Caba単a</h2>
            </div>
            {{ form_start(form, {'attr': {'action' :'', 'method':'POST'}})}}
            
                <div class="form-group">
                    {{ form_label(form.nombre)}}
                    {{ form_widget(form.nombre,{'attr': {'class': 'form-control','placeholder': 'Nombre de la Caba単a'}})}}
                    <samp class="text-danger">{{form_errors(form.nombre)}}</samp>

                    <br>
                    {{ form_label(form.lider)}}
                    {{ form_widget(form.lider,{'attr': {'class': 'form-control','placeholder': 'Lider de la Caba単a'}})}}
                    <samp class="text-danger">{{form_errors(form.nombre)}}</samp>
                    
                    <br>
                    {{ form_label(form.camas)}}
                    {{ form_widget(form.camas,{'attr': {'class': 'form-control','placeholder': 'Cantidad de Camas'}})}}
                    <samp class="text-danger">{{form_errors(form.camas)}}</samp>
                </div>
            
            <p>

                {{form_widget(form.submit,{'labe': 'Crear la Caba単a','attr': {'class':'btn btn-success'}})}} 
            </p>
            
            {{ form_end(form)}}
        </div>
    </div>
    	
</div>
</div>
		
{% endblock %}
