
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<br>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Buscar...">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="#"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Campamento</a></li>
			<li><a href="#"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Inscripciones</a></li>
			<li><a href="#"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Pagos</a></li>
			<li><a href="#"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Jovenes</a></li>
			<li class="parent ">
				<a href="#">
					<span data-toggle="collapse" href="#sub-item-3"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Caba침as</a>
			<ul class="children collapse" id="sub-item-3">
					<li>
						<a class="" href="{{ path('campa_cabanas_crear')}}">
							<svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg>  Crear Caba침as
						</a>
					</li>
					<li>
						<a class="" href="{{ path('campa_cabanas_ver')}}">
							<svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Ver Caba침as
						</a>
					</li>
					
				</ul>
			</li>	
			<li class="parent ">
				
				<a href="#">
					<span data-toggle="collapse" href="#sub-item-4"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Iglesias
					</a>
			<ul class="children collapse" id="sub-item-4">
					<li>
						<a class="" href="{{ path('campa_iglesias_crear')}}">
							<svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg>  Crear Iglesias
						</a>
					</li>
					<li>
						<a class="" href="{{ path('campa_iglesias_ver')}}">
							<svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Ver Iglesias
						</a>
					</li>
					
				</ul>		
			</li>
			
			
			<li class="parent ">
				<a href="#">
	
				
					<span data-toggle="collapse" href="#sub-item-2"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg>Distritos
					</a>
				<ul class="children collapse" id="sub-item-2">
					<li>
						<a class="" href="{{ path('campa_distritos_crear')}}">
							<svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg>  Crear Distritos
						</a>
					</li>
					<li>
						<a class="" href="{{ path('campa_distritos_ver')}}">
							<svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Ver Distritos
						</a>
					</li>
					
				</ul>
			</li>
			<li class="parent ">
				<a href="#">
					<span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Zonas
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="{{ path('campa_zonas_crear')}}">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg>  Crear Zonas
						</a>
					</li>
					<li>
						<a class="" href="{{ path('campa_zonas_ver')}}">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Ver Zonas
						</a>
					</li>
					
				</ul>
			</li>
			<li role="presentation" class="divider"></li>
			<li><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> P치gina de Login</a></li>
		</ul>

	</div><!--/.sidebar-->
